POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=mlflow_db
POSTGRES_PORT=5432

MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MLFLOW_S3_ENDPOINT_URL=http://minio:9000
MLFLOW_PORT=5000
